*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
    padding:20px;
}

.cv-container{
    max-width:1000px;
    margin:auto;
    display:flex;
    background:white;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
    border-radius:15px;
    overflow:hidden;
}

.sidebar{
    width:35%;
    background:#1e3a8a;
    color:white;
    padding:30px;
    text-align:center;
}

.sidebar img{
    width:180px;
    height:180px;
    border-radius:50%;
    object-fit:cover;
    border:5px solid white;
    margin-bottom:15px;
}

.job{
    color:#dbeafe;
    margin-bottom:20px;
}

.section{
    margin-top:30px;
    text-align:left;
}

.section h3{
    border-bottom:2px solid white;
    padding-bottom:5px;
    margin-bottom:10px;
}

.section ul{
    list-style:none;
}

.section ul li{
    margin-bottom:8px;
}

.content{
    width:65%;
    padding:40px;
}

.content section{
    margin-bottom:30px;
}

.content h1{
    color:#1e3a8a;
    margin-bottom:15px;
    border-left:5px solid #1e3a8a;
    padding-left:10px;
}

.item{
    margin-bottom:15px;
}

.item h3{
    color:#333;
}

.item span{
    color:#666;
    font-size:14px;
}

.content p{
    line-height:1.6;
}